.meu-perfil-container {
    max-width: 600px;
    margin: 40px auto;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    font-family: Arial, sans-serif;

    .meu-perfil-info {
        display: flex;
        flex-direction: column;
        align-items: start;
        margin-bottom: 20px;

        h1 {
            font-size: 24px;
            font-weight: bold;
            color: #333;
            margin-bottom: 10px;
        }

        p {
            font-size: 16px;
            color: #555;
            margin: 5px 0;
        }
    }

    .button-container {
        display: flex;
        justify-content: center;
        margin: 20px 0;

        .edit-button {
            background-color: #ffcc00;
            box-shadow: rgba(0, 0, 0, 0.251) 1px 1px 10px;
            color: #fff;
            border: none;
            border-radius: 4px;
            padding: 10px 20px;
            font-size: 14px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            color: black;

            &:hover {
                box-shadow: none;
            }
        }
    }

    .edit-profile-form {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 20px;

        input {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 14px;
            color: #333;

            &:focus {
                border-color: #007bff;
                outline: none;
            }
        }

        .save-button,
        .cancel-button {
            background-color: #ffcc00;
            color: #fff;
            border: none;
            border-radius: 4px;
            padding: 10px 15px;
            font-size: 14px;
            box-shadow: rgba(0, 0, 0, 0.251) 1px 1px 10px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            color: #333;

            &:hover {
                box-shadow: none;
            }
        }

        .cancel-button {
            background-color: black;
            color: white;

            &:hover {}
        }
    }

    .forgot-password-container {
        text-align: center;

        .forgot-password-button {
            background-color: transparent;
            color: #007bff;
            border: none;
            font-size: 14px;
            cursor: pointer;
            transition: color 0.3s ease;

            &:hover {
                color: #0056b3;
            }
        }

        .password-reset-form {
            margin-top: 10px;

            .reset-button {
                background-color: #28a745;
                color: #fff;
                border: none;
                border-radius: 4px;
                padding: 10px 15px;
                font-size: 14px;
                cursor: pointer;
                transition: background-color 0.3s ease;

                &:hover {
                    background-color: #218838;
                }
            }
        }

        .success-message {
            color: #28a745;
            font-size: 14px;
            margin-top: 10px;
        }
    }

    .loading-message {
        text-align: center;
        font-size: 16px;
        color: #555;
    }

    .no-profile-message {
        text-align: center;
        font-size: 16px;
        color: #ff0000;
    }
}